.main-portifolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
}

.card-portifolio-right {
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin-bottom: 95px;
}

.card-portifolio-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
    
  width: 90%;
  margin-bottom: 95px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 540px;
  height: 500px;
}

.card-info {
  width: 350px;
  height: 500px;
  border-top: 1px solid rgb(151, 151, 151, 0.5);
  border-bottom: 1px solid rgb(151, 151, 151, 0.5);
  text-align: left;

  margin-bottom: 20px;
}

.card-info h1 {
  margin: 80px 0 43px 0;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
}

.card-info p {
    width: 350px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgb(255, 255, 255, 0.8);
}

.button{
    margin-top: 30px;
}