footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 165px;
  background-color: #33323d;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 48px;
}

.footer-items {
  display: flex;
  gap: 43px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-medias {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-social-medias a img {
  width: 25px;
  height: 25px;
}
