header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 69px 0 67px;
  padding: 0 10px;
  border-bottom: solid #FAFAFA 1px;
}

.navigation-items {
  display: flex;
  gap: 43px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

a:hover{
  text-decoration: underline;
}