ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}
