.main-apresentacao {
  display: flex;
  align-items: center;

  width: 100%;
  margin: 100px 0;
}

.main-apresentacao-card {
  border-right: solid #ffffff50 1px;
}

.main-apresentacao-card-text {
  padding: 56px 90px 60px 34px;

  color: #ffffff;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.main-apresentacao-card-button {
  display: flex;
  width: 200px;
  margin-left: 34px;
}

.main-apresentacao-card-button-img {
  width: 48px;
  height: 100%;
}

.main-apresentacao-card-button-img img {
  padding: 13px;
  background-color: rgb(29, 52, 69);
}

.main-apresentacao-card-button button {
  width: 200px;
  height: 48px;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #203a4c;
  color: #ffffff;
}

.main-apresentacao-card-button:hover button {
  background-color: #ffffff;
  color: #203a4c;
}

.main-apresentacao-card-button:hover img {
  background-color: #ffffff;
}

.main-apresentacao-card-button a:hover{
  text-decoration: none;
}

.main-apresentacao-tecnologias-img {
  width: 100%;
  text-align: center;
  padding: 10px;
  animation: tecnologiasIniciais 5S infinite ease-in-out; 
}

.main-tecnologias {
  display: flex;
  flex-direction: column;
}

.main-tecnologias h2{
  margin-bottom: 20px;

  color: #ffffff;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}

.main-tecnologias-lista{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 20px;
}

.main-tecnologias-lista li{
  cursor: pointer;
}

.main-tecnologias-lista li:hover{
  animation: tecnologias .5S forwards ease-in-out;
}

.main-sobre {
  display: flex;
  width: 100%;
  margin-top: 150px;
  gap: 140px;
}

.main-sobre img{
  box-shadow: #272424 10px 10px 5px 5px;
  border-radius: 3px;
}

.main-sobre-info {
  display: flex;
  flex-direction: column;

  height: 100%;
  border-top: solid #ffffff50 1px;
  border-bottom: solid #ffffff50 1px;
}

.main-sobre-info h2 {
  padding: 51px 0 28px;
  font-size: 40px;
  color: #ffffff;
}

.main-sobre-info p {
  width: 430px;
  margin-bottom: 30px;

  text-align: justify;
  color: #ffffff;
  opacity: 0.8;

  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.main-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 150px 0;
}

.main-contato-info {
  width: 367px;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.main-contato-button {
  height: 48px;
}


@keyframes tecnologias {
  to{
    transform: translateY(-15px);
  }
}

@keyframes tecnologiasIniciais{
  50%{
    transform: translateY(-10%);
  }
}