.ul-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    width: 100%;

    text-align: center;
}

.ul-redes-sociais a img{
    padding: 10px;
}

.ul-redes-sociais li:hover {
    background-color:rgb(194, 194, 194, .5);
    border-radius: 50%;
}